.div__map-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    background: rgba(49, 54, 63, .95);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.div__map-modal > div {
    top: calc(50vh - 40%);
    left: calc(50vw - 45%);
    background-color: white;
    border-radius: 8px;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2500;
}

.div__map-modal .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    height: calc(100% - 4em);
    width: calc(100% - 4em);
}

@media (min-width: 768px) {
    .div__map-modal > div {
        left: calc(50vw - 40%);
        width: 80%;
    }
}

@media (min-width: 1280px) {
    .div__map-modal > div {
        top: calc(50vh - 30%);
        left: calc(50vw - 20%);
        width: 40%;
        height: 60%;
    }
}