.react-datepicker {
    width: 100%;
    margin-bottom: 1.5em;
    border: none;
}

.react-datepicker__month-container {
    float: initial;
}

.react-datepicker__header {
   border-bottom: none;
   background-color: white;
   padding: 1.5em 1.5em 1em;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected, .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range, .react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover, .react-datepicker__quarter-text--keyboard-selected:hover, .react-datepicker__year-text--keyboard-selected:hover, .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
    background-color: var(--orange);
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
    background-color: rgba(240, 87, 45, .7);
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name, .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    font-family: 'Poppins', sans-serif;
}

.react-datepicker__day-name {
    font-weight: 700;
    text-transform: uppercase;
}

.react-datepicker__day-names {
    margin-top: .5em;
}

.react-datepicker__month {
    margin: 0.5em 0.5em 1.5em;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 2.4em;
}

.react-datepicker__navigation {
    top: 1em;
}

.react-datepicker__navigation--previous {
    left: 1em;
}

.react-datepicker__navigation-icon--next::before {
    left: -1em;
}

@media (min-width: 768px) {
    .react-datepicker {
        display: flex;
        margin-bottom: 3em;
    }

    .react-datepicker__day-names {
        margin-top: 1.5em;
    }

    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        width: 2.9em;
    }
}

@media (min-width: 1024px) {
    .react-datepicker__month-container {
        width: 50%;
    }
}

@media (min-width: 1440px) {
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        width: 3.5em;
    }
}