.section__politics ul li h3, .section__politics ul li ul li:not(:last-child) {
    margin-bottom: 1em;
}

.section__politics > ul > li:not(:last-child) {
    margin-bottom: 1.5em;
}

@media (min-width: 768px) {
    .section__politics > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section__politics > ul > li {
        width: calc(50% - .75em);
    }
}

@media (min-width: 1024px) {
    .section__politics > ul {
        margin-top: 2em;
        justify-content: flex-start;
    }

    .section__politics > ul > li {
        width: calc(25% - 1em);
        margin-right: 2em;
    }

    .section__politics > ul > li {
        margin-bottom: 2em;
    }
}