.section__info-product {
    padding: 82px 0 0;
}

.div__header-product {
    padding: 1em 5%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div__header-product .div__info-name {
    display: flex;
    flex-direction: column-reverse;
}

.div__header-product h2, .div__header-product p {
    color: white;
}

.div__header-product p {
    text-transform: uppercase;
}

.div__header-product .a__show-more::after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background: url(../../assets/icons/show.svg) no-repeat center center;
    background-size: contain;
}

.div__address-score {
    padding: 1em 5%;
    background: rgba(49, 54, 63, .1);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.div__address-score .div__info-address {
    width: calc(60% - 1em);
}

.div__address-score .div__info-address p {
    font-size: 14px;
}

.div__address-score .div__info-address .p__city-info {
    display: flex;
}

.div__address-score .div__info-address .p__city-info:before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url(../../assets/icons/location.svg) no-repeat center center;
    background-size: contain;
    margin-right: 4px;
}

.div__address-score .p__center-meters {
    display: none;
}

.div__address-score .div__info-score p {
    font-weight: 700;
    text-align: right;
    margin-bottom: .1em;
    color: var(--grey);
}

.MuiRating-iconFilled {
    color: var(--orange);
}

.div__address-score .div__puntuation-score {
    display: flex;
}

.div__address-score .div__puntuation-score > span {
    background-color: var(--grey);
    color: white;
    padding: 0.2em 0.7em;
    border-radius: 10px;
    margin-left: .5em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.div__buttons-bar {
    position: absolute;
    top: 1em;
    left: 5%;
    z-index: 2;
}

.div__img-actions {
    position: relative;
}

.div__buttons-bar {
    display: flex;
    align-items: center;
}

.a__share-icon, .a__like-icon {
    font-size: 0;
    margin-right: 16px;
}

.a__share-icon::before, .a__like-icon::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
}

.a__share-icon::before {
    background: url(../../assets/icons/share.svg) no-repeat center center;
    background-size: contain;
}

.a__like-icon::before {
    background: url(../../assets/icons/like.svg) no-repeat center center;
    background-size: contain;
}

.section__info-product > h2 {
    margin: 1em 5%;
}

.section__info-product > p {
    margin: 0 5% 1.5em;
}

@media (min-width: 768px) {
    .section__info-product {
        padding: 98px 0 0;
    }

    .div__address-score .p__center-meters {
        display: block;
        margin-left: 20px;
    }

    .div__address-score {
        align-items: center;
    }

    .div__buttons-bar {
        position: initial;
        padding: 1em 5%;
    }

    .a__share-icon, .a__like-icon {
        margin-right: 24px;
    }

    .a__share-icon::before {
        background: url(../../assets/icons/share-black.svg) no-repeat center center;
        background-size: contain;
    }
    
    .a__like-icon::before {
        background: url(../../assets/icons/like-black.svg) no-repeat center center;
        background-size: contain;
    }
}

@media (min-width: 1024px) {
    .div__buttons-bar {
        padding: 1.5em 5%;
    }

    .div__gallery-desktop {
        padding: 0 5%;
        position: relative;
    }

    .ul__gallery-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em;
    }
    
    .ul__gallery-desktop li:first-child { grid-area: 1 / 1 / 3 / 3; }
    .ul__gallery-desktop li:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
    .ul__gallery-desktop li:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
    .ul__gallery-desktop li:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }
    .ul__gallery-desktop li:last-child { grid-area: 2 / 4 / 3 / 5; }

    .ul__gallery-desktop li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px
    }

    .button__open-gallery {
        position: absolute;
        bottom: 1.5em;
        right: calc(5% + 1.5em);
        text-decoration: underline;
        color: white;
        font-weight: 700;
    }

    .section__info-product > h2 {
        margin: 1.5em 5%;
    }
}