header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

header.div__open-menu {
    position: initial;
}

.div__title-header h1 {
    font-size: 0;
    width: 70px;
    height: 50px;
    background: url("../assets/logotype.svg") no-repeat center center;
    background-size: contain;
}

.div__title-header p {
    display: none;
    font-style: italic;
}

.a__button-nav {
    font-size: 0;
    width: 32px;
    height: 32px;
    background: url("../assets/icons/menu.svg") no-repeat center center;
    background-size: contain;
    display: block;
}

.div__open-menu .a__button-nav {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
    width: 24px;
    height: 24px;
    background: url("../assets/icons/close.svg") no-repeat center center;
    background-size: contain;
}

.div__menu-bar {
    display: none;
}

.div__open-menu .div__menu-bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1;
}

.div__open-menu nav {
    display: flex;
    flex-direction: column;
}

.div__open-menu .div__menu-login {
    height: 25%;
    background-color: var(--orange);
    padding: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.div__open-menu .div__menu-login > p {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.div__open-menu .div__menu-login .div__user-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div__menu-login .div__user-login > span {
    border-radius: 50%;
    color: #333;
    background: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: .5em;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div__menu-login .div__user-login p {
    font-weight: 700;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div__open-menu .div__menu-bar .ul__bar-links li:not(:last-of-type) {
    border-bottom: 1px solid var(--light-grey);
}

.div__open-menu .div__menu-bar .ul__bar-links li a {
    color: var(--grey);
    padding: 24px 0;
    text-align: right;
    display: block;
}

.div__menu-bar .div__menu-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    padding: 0 1em 1.5em;
}

.div__menu-bar .div__menu-navigation.login {
    justify-content: flex-end;
}

.div__menu-bar .div__social-menu span {
    display: block;
    text-align: right;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--black);
}

.div__menu-bar .div__social-menu a {
    color: var(--orange);
}

.ul__social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.5em;
}

.ul__social-links li {
    margin-left: 1em;
}

.ul__social-links li a {
    font-size: 0;
    width: 24px;
    height: 24px;
    display: block;
}

.ul__social-links li a.a__icon-fb {
    background: url("../assets/icons/fb.svg") no-repeat center center;
    background-size: contain;
}

.ul__social-links li a.a__icon-li {
    background: url("../assets/icons/li.svg") no-repeat center center;
    background-size: contain;
}

.ul__social-links li a.a__icon-tw {
    background: url("../assets/icons/tw.svg") no-repeat center center;
    background-size: contain;
}

.ul__social-links li a.a__icon-ig {
    background: url("../assets/icons/ig.svg") no-repeat center center;
    background-size: contain;
}

@media (min-width: 768px) {
    header {
        padding: 1.5em 5%;
    }

    .a__button-nav {
        display: none;
    }
    
    .div__menu-bar {
        display: flex;
    }

    .div__menu-bar .div__menu-login > p, .ul__social-links {
        display: none;
    }

    .ul__bar-links {
        display: flex;
        align-items: center;
    }

    .ul__bar-links a {
        padding: .8em 2em;
        border-radius: 5px;
        font-weight: 700;
        border: 1px solid var(--orange);
        color: var(--orange);
        margin-left: 1.5em;
    }

    .div__user-login {
        display: flex;
        align-items: center;
    }

    .div__menu-login {
        margin-right: 2em;
    }

    .div__menu-login .div__user-login p {
        color: var(--grey);
        align-items: flex-start;
    }

    .div__menu-login .div__user-login p span {
        color: var(--orange);
    }

    .div__menu-login .div__user-login > span {
        color: white;
        background: black;
        margin-right: .5em;
    }

    .div__menu-bar .div__menu-navigation {
        padding: 0;
        height: auto;
    }

    .div__menu-bar .div__social-menu span {
        font-size: 0;
        border-bottom: 0;
    }

    .div__menu-bar .div__social-menu a::after {
        content: "X";
        color: var(--black);
        font-size: 16px;
        font-weight: 700;
    }
}

@media (min-width: 1280px) {
    .div__title-header {
        display: flex;
        align-items: center;
    }
    
    .div__title-header p {
        display: block;
        margin-left: .5em;
        color: var(--grey);
    }

    .ul__bar-links a {
        padding: .8em 3em;
    }
}