@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F0572D;
    --grey: #31363F;
    --black: #191B1D;
    --light-grey: #DFE4EA;
}

body, textarea {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

p, button {
    font-size: 16px;
}

h1, h2, h3, h4, p, button {
    line-height: 130%;
}

.p__category-name {
    text-transform: uppercase;
    color: var(--grey);
    opacity: .6;
    margin-right: .3em;
    font-size: 14px;
}

.p__accommodation-direction {
    color: var(--grey);
    display: -webkit-inline-box;
    margin-top: 1em;
    font-size: 14px;
}

.p__accommodation-direction::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url(../assets/icons/location.svg) no-repeat center center;
    background-size: contain;
}

.section__title-border {
    padding: 1.5em 0 0;
}

.section__title-border h2 {
    border-bottom: 1px solid var(--orange);
    padding-bottom: 1em;
}

.btn {
    padding: 1em 3em;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button__linear-type, .button__solid-type:hover, .button__solid-type:active {
    border: 1px solid var(--orange);
    color: var(--orange);
    background: white;
}

.button__solid-type, .button__linear-type:hover, .button__linear-type:active {
    border: none;
    color: white;
    background: var(--orange);
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

input:not([type="checkbox"], .input__calendar-day input), textarea {
    padding: 1em;
    color: var(--grey);
    border-radius: 5px;
    font-weight: 700;
    border: none;
    height: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.select__option {
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px),
    calc(100% - 2.5em) 1.2em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea {
    resize: none;
}

input.error, select.error {
    background-color: #FFE1E1;
}

input:disabled {
    background: var(--light-grey);
}

.small__error {
    margin: 1em 0 1.5em;
    color: #FF0000;
    text-align: right;
    width: 100%;
    display: block;
}

.p__error {
    color: #FF0000;
    font-size: 14px;
}

.p__login-error {
    background-color: rgba(255, 0, 0, .1);
    color: #B00020;
    padding: 1em 2em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p__login-error::before {
    content: "";
    width: 32px;
    height: 32px;
    display: flex;
    margin-right: .5em;
    background: url(../assets/icons/error.svg) no-repeat center center;
    background-size: contain;
}

.show {
    overflow: hidden;
}

.MuiRating-iconFilled {
    color: var(--orange);
}

.div__background-white {
    padding: 1.5em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    background-color: white;
    margin-top: 1.5em;
}

.a__close-modal {
    position: fixed;
    top: 1.5em;
    right: 2em;
    color: white
}

.a__close-modal:hover {
    text-decoration: underline;
}

.div__btn-actions a {
    font-size: 0;
}

.div__btn-actions a::after {
    content: "";
    width: 50px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__remove-img {
    background-color: var(--grey);
}

.btn__remove-img::after {
    background: url(../assets/icons/remove.svg) no-repeat center center;
    background-size: 50%;
}

.btn__add-img {
    background-color: var(--orange);
}

.btn__add-img::after {
    background: url(../assets/icons/add.svg) no-repeat center center;
    background-size: 50%;
}

.none {
    display: none;
}

@media (min-width: 1024px) {
    .section__title-border {
        padding: 3em 0 0;
    }

    .small__error {
        margin: 1em 0 0;
    }
}

@media (min-width: 1280px) {
    input:not([type="checkbox"]) {
        height: 50px;
    }
}