@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F0572D;
    --grey: #31363F;
    --black: #191B1D;
    --light-grey: #DFE4EA;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

p, button {
    font-size: 16px;
}

h1, h2, h3, h4, p, button {
    line-height: 130%;
}

.p__category-name {
    text-transform: uppercase;
    color: var(--grey);
    opacity: .6;
    margin-right: .3em;
    font-size: 14px;
}

.p__accommodation-direction {
    color: var(--grey);
    display: -webkit-inline-box;
    margin-top: 1em;
    font-size: 14px;
}

.p__accommodation-direction::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url(../assets/icons/location.svg) no-repeat center center;
    background-size: contain;
}

.section__title-border {
    padding: 1.5em 0 0;
}

.section__title-border h2 {
    border-bottom: 1px solid var(--orange);
    padding-bottom: 1em;
}

.btn {
    padding: 1em 3em;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button__linear-type, .button__solid-type:hover, .button__solid-type:active {
    border: 1px solid var(--orange);
    color: var(--orange);
    background: white;
}

.button__solid-type, .button__linear-type:hover, .button__linear-type:active {
    border: none;
    color: white;
    background: var(--orange);
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    padding: 1em 3.2em;
    color: var(--grey);
    border-radius: 5px;
    font-weight: 700;
    border: none;
    height: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

input.error {
    border: 1px solid #FF0000;
    background: #FFE1E1;
}

input:disabled {
    background: var(--light-grey);
}

.small__error {
    margin: 1em 0 1.5em;
    color: #FF0000;
    text-align: right;
    width: 100%;
    display: block;
}

.show {
    overflow: hidden;
}

.MuiRating-iconFilled {
    color: var(--orange);
}

@media (min-width: 1024px) {
    .section__title-border {
        padding: 3em 0 0;
    }

    .small__error {
        margin: 1em 0 0;
    }
}

@media (min-width: 1280px) {
    input {
        height: 50px;
    }
}