section {
    padding: 1.5em 5%;
}

section:nth-of-type(3) {
    background-color: var(--light-grey);
}

h2 {
    color: var(--grey);
}

.ul__categories-list article, .ul__accommodation-list article {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ul__categories-list article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 10px 10px 0 0;
}

.ul__categories-list article div, .ul__accommodation-list article > div {
    padding: 1em;
    background-color: white;
    border-radius: 0 0 8px 8px;
}

.ul__accommodation-list article > div {
    border-radius: 0 0 8px 8px;
}

.ul__categories-list article div h3, .ul__accommodation-list article h3 {
    font-size: 18px;
    color: var(--grey);
}

.ul__categories-list article div p {
    color: var(--grey);
    font-weight: 700;
    opacity: 0.6;
    margin-top: .5em;
}

.ul__accommodation-list article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 8px 8px 0 0;
}

.ul__accommodation-list article .p__description-text {
    color: var(--grey);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.ul__accommodation-list article .div__show-text {
    margin: 1em 0;
}

.ul__accommodation-list article .div__show-text a {
    color: var(--orange);
}

.div__info-accommodation, .div__info-accommodation > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.div__info-accommodation > div:first-of-type {
    flex-direction: column;
    width: 65%;
}

.div__category-stars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .5em;
}

.p__accommodation-direction a:hover {
    text-decoration: underline;
}

.div__puntuation-number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}

.div__puntuation-number span {
    background-color: var(--grey);
    color: white;
    padding: .2em .8em;
    border-radius: 10px;
    margin-bottom: .2em;
    text-align: right;
}

.div__puntuation-number p {
    color: var(--grey);
    font-size: 14px;
}

.p__accommodation-direction a {
    color: var(--orange);
    text-transform: uppercase;
}

.p__accommodation-direction a span {
    display: none;
}

.ul__services-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ul__services-list li {
    margin: 16px 16px 0 0;
    font-size: 0;
}

.ul__services-list li::after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
}

.ul__services-list li.li__wifi {
    background: url(../assets/icons/wifi-blue.svg) no-repeat center center;
    background-size: contain;
}

.ul__services-list li.li__pileta::after {
    background: url(../assets/icons/pool-blue.svg) no-repeat center bottom;
    background-size: contain;
}

.ul__services-list li.li__televisor::after {
    background: url(../assets/icons/tv-blue.svg) no-repeat center center;
    background-size: contain;
}

.ul__services-list li.li__cocina::after {
    background: url(../assets/icons/kitchen-blue.svg) no-repeat center bottom;
    background-size: contain;
}

.ul__services-list li.li__apto-mascotas::after {
    background: url(../assets/icons/pets-blue.svg) no-repeat center center;
    background-size: contain;
}

.ul__services-list li.li__aire-acondicionado::after {
    background: url(../assets/icons/air-conditioning-blue.svg) no-repeat center center;
    background-size: contain;
}

.ul__services-list li.li__estacionamiento-gratuito::after {
    background: url(../assets/icons/parking-blue.svg) no-repeat center center;
    background-size: contain;
}

.ul__categories-list article .button__solid-type, .ul__accommodation-list article .button__solid-type {
    width: 100%;
}

@media (min-width: 768px) {
    .ul__categories-list, .ul__accommodation-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ul__categories-list li {
        width: calc(50% - 1em);
    }

    .ul__accommodation-list article {
        flex-direction: row-reverse;
    }

    .ul__accommodation-list article > div {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ul__accommodation-list article img {
        height: auto;
        width: 45%;
        object-position: center;
        border-radius: 8px 0 0 8px;
        height: 400px;
    }

    .ul__accommodation-list article .p__description-text {
        margin-top: 2.5em;
        -webkit-line-clamp: 3;
    }

    .p__accommodation-direction a span {
        display: initial;
    }
}

@media (min-width: 1280px) {
    section {
        padding: 2em 5%;
    }

    .ul__categories-list > li {
        width: calc(25% - 1.5em);
    }

    .ul__accommodation-list > li {
        width: calc(50% - 1em);
    }

    .ul__categories-list article, .ul__accommodation-list article {
        margin-top: 2em;
    }

    .ul__categories-list article div h3, .ul__accommodation-list article h3 {
        font-size: 20px;
    }

    .ul__accommodation-list article {
        height: auto;
    }

    .div__info-accommodation > div:first-of-type {
        width: 70%;
    }

    .div__puntuation-number {
        width: 30%;
    }

    .ul__accommodation-list article .div__show-text {
        display: flex;
        flex-direction: column;
    }
}