section {
    padding: 1.5em 5%;
}

section:nth-of-type(3) {
    background-color: var(--light-grey);
}

h2 {
    color: var(--grey);
}

.ul__categories-list article, .ul__accommodation-list article {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    border: 1px solid #F3F1ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ul__categories-list article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 10px 10px 0 0;
}

.ul__categories-list article div, .ul__accommodation-list article > div {
    padding: 1em;
    background-color: white;
}

.ul__categories-list article div h3, .ul__accommodation-list article h3 {
    font-size: 20px;
    color: var(--grey);
}

.ul__categories-list article div p {
    color: var(--grey);
    font-weight: 700;
    opacity: 0.6;
    margin-top: .5em;
}

.ul__accommodation-list article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    border-radius: 8px 8px 0 0;
}

.ul__accommodation-list article .p__description-text {
    color: var(--grey);
    margin-top: 1em;
}

.hide .p__description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.ul__accommodation-list article .div__show-text a {
    color: var(--orange);
}

.div__info-accommodation, .div__info-accommodation > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.div__info-accommodation > div:first-of-type {
    flex-direction: column;
}

.p__category-name {
    text-transform: uppercase;
    color: var(--grey);
    opacity: .6;
}

.p__accommodation-direction {
    color: var(--grey);
    display: -webkit-inline-box;
    margin: 1em 0;
}

.div__puntuation-number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div__puntuation-number span {
    background-color: var(--grey);
    color: white;
    padding: .2em .8em;
    border-radius: 10px;
    margin-bottom: .2em;
}

.div__puntuation-number p {
    color: var(--grey);
}

.p__accommodation-direction::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url(../assets/icons/location.svg) no-repeat center center;
    background-size: contain;
}

.p__accommodation-direction a {
    color: var(--orange);
    text-transform: uppercase;
}

.ul__services-list {
    display: flex;
    align-items: center;
}

.ul__services-list li {
    margin-right: 16px;
    font-size: 0;
}

.ul__services-list li::after {
    content: "";
    width: 32px;
    height: 32px;
    display: block;
}

.ul__services-list li.li__wifi-icon::after {
    background: url(../assets/icons/wifi.svg) no-repeat center center;
    background-size: contain;
}

.ul__services-list li.li__pool-icon::after {
    background: url(../assets/icons/pool.svg) no-repeat center center;
    background-size: contain;
}

@media (min-width: 768px) {
    .ul__categories-list, .ul__accommodation-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ul__categories-list li {
        width: calc(50% - 1em);
    }

    .ul__accommodation-list article {
        flex-direction: row-reverse;
    }

    .ul__accommodation-list article > div {
        width: 55%;
    }

    .ul__accommodation-list article img {
        height: auto;
        width: 45%;
        object-position: center;
    }

    .ul__accommodation-list article .p__description-text {
        margin-top: 2.5em;
    }

    .ul__accommodation-list .button__solid-type {
        width: 100%;
        margin-top: 1em;
    }
}

@media (min-width: 1280px) {
    section {
        padding: 2em 5%;
    }

    .ul__categories-list > li {
        width: calc(25% - 1.5em);
    }
    

    .ul__accommodation-list > li {
        width: calc(50% - 1em);
    }

    .ul__categories-list article, .ul__accommodation-list article {
        margin-top: 2em;
    }
}