.div__upload-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-grey);
    padding: 0 1.5em;
    border-radius: 8px;
    margin: 1em 0 1.5em;
}

.div__upload-images input {
    width: calc(100% - 66px);
    margin: 1.5em 0;
}