.div__upload-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-grey);
    padding: 0 1.5em;
    border-radius: 8px;
    margin: 1.5em 0;
}

.div__upload-images input {
    width: calc(100% - 66px);
    margin: 1.5em 0;
}

.div__upload-images a {
    font-size: 0;
}

.div__upload-images a::after {
    content: "";
    width: 50px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div__upload-images .btn__remove-img {
    background-color: var(--grey);
}

.div__upload-images .btn__remove-img::after {
    background: url(../../assets/icons/remove.svg) no-repeat center center;
    background-size: 50%;
}

.div__upload-images .btn__add-img {
    background-color: var(--orange);
}

.div__upload-images .btn__add-img::after {
    background: url(../../assets/icons/add.svg) no-repeat center center;
    background-size: 50%;
}

@media (min-width: 768px) {
    .section__admin-create .section__upload-images div {
        margin: 1.5em 0 2em;
    }
}