.section__booking-details {
    padding-top: 0;
}

.section__booking-details h2 {
    padding: 0 1em 1em;
}

.section__booking-details > div {
    padding: 2em 0;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.section__booking-details h3 {
    margin: .2em 0 .3em;
}

.section__booking-details .p__accommodation-direction {
    margin-top: 1.5em;
}

.section__booking-details img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.section__booking-details .div__hotel-details > div {
    padding: 1em 1.5em 0;
}

.section__booking-details ul {
    padding-top: 1em;
}

.section__booking-details ul li {
    padding: 1em 0;
    border-top: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__booking-details ul li:last-child {
    border-bottom: 1px solid var(--light-grey);
}

.section__booking-details ul li h4 {
    color: var(--grey);
}

.section__booking-details .btn {
    margin-top: 1em;
    width: 100%;
}

@media (min-width: 768px) {
    .section__booking-details > div {
        padding: 2em;
    }

    .section__booking-details .div__hotel-details {
        display: flex;
        justify-content: space-between;
    }

    .section__booking-details h2 {
        padding: 0 0 1em;
    }

    .section__booking-details img {
        width: calc(50% - 1em);
        height: auto;
    }

    .section__booking-details .div__hotel-details > div {
        width: 50%;
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .section__booking-details {
        padding: 5.4em 5% 2em 1em;
        width: 40%;
    }

    .section__booking-details h2 {
        padding: 0 1em 1em;
    }

    .section__booking-details > div {
        padding: 2em 0;
        height: 100%;
    }

    .section__booking-details .div__hotel-details {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .section__booking-details .div__hotel-details > div {
        padding: 1em 1.5em 0;
        width: 100%;
        height: calc(100% - 348px);
        display: flex;
        flex-direction: column;
    }

    .section__booking-details img {
        width: 100%;
        height: 300px;
    }

    .section__booking-details ul {
        flex: 14;
    }

    .section__booking-details .btn {
        flex: 1;
    }
}