.section__booking-form div label span {
    margin-bottom: .5em;
    display: block;
}

.section__booking-form div label input {
    margin-bottom: 1.5em;
    width: 100%;
    padding: 1em;
}

.section__booking-form div label:last-child input {
    margin-bottom: 0;
}