.section__booking-hour {
    padding-top: 0;
}

.section__booking-hour h2 {
    margin-bottom: 1em;
}

.section__booking-hour .p__hotel-room {
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
}

.section__booking-hour .p__hotel-room::before {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    background: url(../../assets/icons/check.svg) no-repeat top center;
    background-size: contain;
    margin-right: .5em;
}

.section__booking-hour label span {
    margin: 1.5em 0 1em;
    font-size: 14px;
    display: block;
}

@media (min-width: 768px) {
    .section__booking-hour .p__hotel-room {
        font-size: 16px;
        align-items: center;
    }

    .section__booking-hour .p__hotel-room::before {
        width: 24px;
        height: 24px;
    }

    .section__booking-hour label select {
        width: 50%;
    }
}