.div__favourites-list {
    padding: 82px 0 0;
    min-height: calc(100vh - 50px);
}

.div__favourites-list .ul__accommodation-list li:first-of-type article {
    margin-top: 0;
}

@media (min-width: 768px) {
    .div__favourites-list {
        padding: 98px 0 0;
        min-height: calc(100vh - 72px);
    }
}

@media (min-width: 1280px) {
    .div__favourites-list .ul__accommodation-list li:first-of-type article,
    .div__favourites-list .ul__accommodation-list li:nth-child(2) article {
        margin-top: 0;
    }
}